{% extends "_layout.html" %}

{% block content %}

  {% include "_navbar.html" %}
  <form action="{{ url_for('users.update', username=user.username) }}" method="POST" id="user-details-form" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="custom-table">
      <div class="custom-table-cell">
        <div class="custom-modal">
          <div id="profile-img" style="background-image: url('{{img}}');">
            <label>Click to browse or drag an image here</label>
            </div>
          <div class="input">          
            <i class="far fa-edit" aria-hidden="true"></i>
            <input type="text" name="username" id="username" value="{{user.username}}"/>
          </div>
          
          <div class="email input">
            <i class="far fa-edit" aria-hidden="true"></i>
            <input type="email" name="email" id="email" value="{{user.email}}"/>
          </div>

          <button id="submit" onclick="submitFunction()">Save Changes</button>
        </div>
      </div>
    </div>

  
    <input type="file" name="user_file" id="mediaFile" />

  </form>

<script>
    // ----- On render -----
    $(function() {
      /*// Select username and email
      let username = document.querySelector(".username");
      let email = document.querySelector(".email");
      console.log(username)
      console.log(email.innerHTML)

      function updateValue(field, id) {
        // 2. Retrieve the text from inside the element
        document.getElementById(id).value = field.innerHTML;
        console.log(field.innerHTML);
        console.log(document.getElementById(id).value);
      }
      
      // 1. Listen for changes
      username.addEventListener("input", function(e){
        updateValue(username, (id = "username"))
      });

      email.addEventListener("input", function(e){
        updateValue(email, (id = "email"))
      }); */

      $('#profile-img').addClass('dragging').removeClass('dragging');
    });

    $('#profile-img').on('dragover', function() {
      $('#profile-img').addClass('dragging')
    }).on('dragleave', function() {
      $('#profile-img').removeClass('dragging')
    }).on('drop', function(e) {
      $('#profile-img').removeClass('dragging hasImage');

      if (e.originalEvent) {
        let file = e.originalEvent.dataTransfer.files[0];
        console.log(file);
        document.getElementById('#mediaFile').files = file

        let reader = new FileReader();

        //attach event handlers here...

        reader.readAsDataURL(file);
        reader.onload = function(e) {
          console.log(reader.result);
          $('#profile-img').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
        }
      }
    })

    $('#profile-img').on('click', function(e) {
      console.log('clicked')
      $('#mediaFile').click();
    });
    window.addEventListener("dragover", function(e) {
      e = e || event;
      e.preventDefault();
    }, false);
    window.addEventListener("drop", function(e) {
      e = e || event;
      e.preventDefault();
    }, false);
    $('#mediaFile').change(function(e) {
      let input = e.target;
      if (input.files && input.files[0]) {
        console.log(input.files)
        let file = input.files[0];

        let reader = new FileReader();

        reader.readAsDataURL(file);
        reader.onload = function(e) {
          console.log(reader.result);
          $('#profile-img').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
        }
      }
    })

    function submitFunction() {
      document.getElementById('user-details-form').submit()      
    }

  </script>

{% endblock content %}