  {% extends "_layout.html"%}

  {% block content %}

    {% include "users/_errors.html" %}

    
    <div class="row d-flex justify-content-center vh-100 w-100 mt-5" id="sign-up">
      <div class="phone my-2 mr-4 text-right">
        <img src="https://s3.amazonaws.com/meistagram/155731638976" alt="">
      </div>
      <div class="w-350px my-2 ml-4">
        <div class="sign-up-form border border-color-e6 p-4 d-flex justify-content-center">
          <div class="w-259px">
            <h1 class="brand-logo text-center mb-3">Meistergram</h1>
            <p class="font-weight-bold text-center text-999 w-255px">
              Sign up to see photos and videos from your friends and family.
            </p>          

            <form method="POST" action="{{ url_for('users.create') }}">  
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              
              <div class="form-group my-4">
              {# Username #}
                <input class="sign-up-form form-control" type="text" placeholder="Username" name="username"/>
              </div>

              <div class="form-group my-4">
              {# Email #}
                <input class="sign-up-form form-control" type="email" placeholder="Email" name="email"/>
              </div>

              <div class="form-group my-4">
              {# Password #}
                <input class="sign-up-form form-control" type="password" placeholder="Password" name="password"/>
                <small class="form-text text-muted text-justify">Min 6 characters. At least 1 uppercase and 1 lowercase letter, 1 number and 1 special character (@#$%^&+=).</small>
              </div>

              <div class="form-group my-4">
              {# Confirm password #}
                <input class="sign-up-form form-control" type="password" placeholder="Confirm your password" name="confirm"/>
              </div>

              <div class="form-group my-4">
                <input type="checkbox" class="" name="privacy">
                <small class="text-muted" for="privacy" value="True">Make your account private</small>
              </div>
              
              {# Submit button #}
              <button type="submit" class="btn steel-blue text-white font-weight-bold border-0 font-weight-bold w-100">Sign up</button>
            </form>   

            <hr class="my-4 font-weight-bold text-999"> 

            {# <button class="btn steel-blue text-white font-weight-bold border-0 font-weight-bold mx-auto w-100"> #}
            <div class="w-100 font-weight-bold text-fgreen text-center">
              <i class="fab fa-google"></i>&nbsp;&nbsp;Sign up with Google
            </div>
            
            {# </button> #}
            

          </div>
        </div>      
      </div>
    </div>
  


    
  {% endblock %}