body {
  background-color: #fafafa;
}

.vh-100 {
  height: 100vh;
}

.vw-80 {
  width: 80vw;
}

.h-80 {
  height: 80%;
}

.steel-blue {
  background-color: #0f292f;
}

.forest-green {
  background-color: #0f292f;
}

.text-fgreen {
  color: #0f292f;
}

.text-cherry {
  color: #cb2d6f;
}

.text-999 {
  color: #999;
}

.border-color-e6 {
  border-color: #e6e6e6;
}

.w-259px {
  max-width: 259px;
  width: 100%;
}

.w-350px {
  max-width: 350px;
  width: 100%;
}

/*----------*/

/* ----- Personal preference ----- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ----- Variable Declarations ----- */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
