body {
  background-color: #fafafa;
}

.success-msg {
  color: green;
}

.error-msg {
  color: red;
}

.error-page {
  height: 100vh;
}

.profile-img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.vh-100 {
  height: 100vh;
}

.vw-80 {
  width: 80vw;
}

.h-80 {
  height: 80%;
}

#profile .img-container {
  display: inline-block;
  width: calc(80vw / 3);
  height: calc(80vw / 3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #profile .img-container img {
  width: 95%;
  object-fit: cover;
} */

#profile .box {
  border: solid 1px red;
  width: 82vw;
  margin: auto;
}

/* .box .img-container {
  display: inline-block;
  width: calc(80vw / 3);
  height: calc(80vw / 3);
  background-image: url("image-url");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
