.brand-logo {
  font-family: "Grand Hotel", cursive;
  font-size: 2.4rem;
  color: #501f3a;
}

.navbar-brand.brand-logo {
  color: #cccccc !important;
}

#sign-up div.sign-up-form {
  background-color: white;
}

#sign-up input.sign-up-form {
  height: 2rem;
  background-color: #fafafa;
  font-size: 0.9rem;
}

#sign-up hr,
#sign-in hr {
  position: relative;
}

#sign-up hr::before,
#sign-in hr::before {
  position: absolute;
  content: "OR";
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  text-align: center;
  background: white;
}

@media (max-width: 768px) {
  .phone {
    display: none;
  }
}

#sign-up .phone img,
#sign-in .phone img {
  max-width: 326px;
  width: 100%;
  vertical-align: middle;
}

#sign-in .sign-in-form a.sign-up,
#sign-up .sign-up-form a.sign-in {
  color: #3ccfff;
}

button#submit {
  color: #fff;
  background-color: #14a098;
}

#homepage p.username {
  font-size: 2rem;
}

#homepage p.username::before {
  content: "@";
}

#homepage p.caption .quote {
  font-size: 1.5rem;
}

a:hover {
  color: #3ccfff;
  text-decoration: none;
}
