<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}" crossorigin="anonymous"></script>
    {% endassets %}

    {% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand brand-logo" href="/">Nextagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('images.new') }}" class="nav-link">Update Profile Picture</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('users.edit', id=current_user.id) }}" class="nav-link">Edit Profile Details</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('posts.new') }}" class="nav-link">Upload a New Post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Session Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('users.new') }}">Sign Up</a>
              <a class="dropdown-item" href="{{ url_for('sessions.new')}}">Log In</a>
              <div class="dropdown-divider"></div>
              <form method="POST" action="{{ url_for('sessions.delete') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input class="dropdown-item" type="submit" value="Log Out"/>
              </form>
              </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="./path/to/dropzone.js"></script>
  </body>
</html>
