{% block navbar %}

  <nav class="navbar navbar-expand-lg navbar-dark grey-blue">
    <a class="navbar-brand brand-logo" href="/">Meisterkram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{ url_for('home') }}" class="nav-link {{'active' if request.path == url_for('home') }}">
          Home</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('users.show', username=current_user.username) }}" class="nav-link {{'active' if request.path == url_for('users.show', username=current_user.username) }}">
          Your page</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('users.index') }}" class="nav-link {{'active' if request.path == url_for('users.index') }}">
          All users</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('users.edit', username=current_user.username) }}" class="nav-link {{'active' if request.path == url_for('users.edit', username=current_user.username) }}">
          Edit profile details</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('posts.new') }}" class="nav-link {{'active' if request.path == url_for('posts.new') }}">
          Upload a new post</a>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Follow requests
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% with follow_requests=current_user.follow_requests_received %}
              {% if follow_requests %}
                {% for follow_request in follow_requests %}
                  <p class="text-center">
                    <a href="{{ url_for('users.show', username=follow_request['username']) }}" class="text-fgreen">
                      {{ follow_request["username"]}}
                    </a>
                  </p>
                  <p class="text-center">
                    <button class="btn-sm btn-primary">
                      <a href="{{ url_for('followings.accept', req_id=follow_request.id, next=request.path) }}" class="text-white">
                        Accept
                      </a>
                    </button> 
                    <button class="btn-sm btn-danger">
                      <a href="{{ url_for('followings.reject', req_id=follow_request.id, next=request.path) }}" class="text-white">
                        Reject
                      </a>
                    </button>
                  </p>

                {% endfor %}
              {% else %}
                <small>You do not have any follow requests atm.</small>
              {% endif %}
            {% endwith %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sessions.delete')}}">Log out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      </form>
    </div>
  </nav>
  
  {% include "_flash_message.html" %}

{% endblock navbar %}